body {
    font-family: Arial;
    background:#0a192f;
    color:#e6f1ff;
    margin:0;
}

/* AUTH PAGE */
.auth-box {
    background:#112240;
    padding:25px;
    width:320px;
    margin:100px auto;
    border-radius:10px;
    text-align:center;
}

input {
    width:100%;
    padding:8px;
    margin:6px 0;
}

button {
    width:100%;
    padding:10px;
    background:#22c55e;
    border:none;
    color:white;
    cursor:pointer;
}

.req {
    font-size:12px;
    text-align:left;
}

.valid { color:lightgreen; }
.invalid { color:red; }

/* LAYOUT */
.sidebar {
    width:200px;
    background:#112240;
    height:100vh;
    position:fixed;
}

.sidebar button {
    display:block;
    width:100%;
    padding:10px;
    background:none;
    color:white;
    border:none;
    text-align:left;
}

.active {
    background:#1c2e4a;
}

.topbar {
    position:fixed;
    left:200px;
    right:0;
    background:#112240;
    padding:10px;
    display:flex;
    align-items:center;
}

.main {
    margin-left:200px;
    margin-top:60px;
    padding:20px;
}

.card {
    background:#1c2e4a;
    padding:10px;
    margin:5px 0;
}
